# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @yuzisun @terrytangyuan @Jooho @spolti @israel-hdez @greenmoon55 @cmaddalozzo @lizzzcai @sivanantha321 @andyi2it @johnugeorge @gavrissh @Datta0 @rachitchauhan43 @cjohannsen-cloudera 
